---
// global styles
import "../styles/main.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- google font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-gradient-to-b from-body-2 from-[30dvh] to-body-1 to-[30dvh] bg-no-repeat bg-full min-h-screen selection:bg-neutral-2 selection:text-slate-100"
  >
    <main class="container mx-auto px-8 sm:px-12">
      <slot />
    </main>
  </body>
</html>
